{% extends 'base.html.twig' %}

{% block title %}Job board{% endblock %}

{% block body %}
    <div id="table"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            mountVueComponent('Table', '#table', {
                'datas': JSON.parse('{{ datas|json_encode()|escape('js') }}')
            });
        });
    </script>
{% endblock %}